* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    

}

.personaje {
/* Complete el CSS aqui */
}

.personaje__nombre {
/* Complete el CSS aqui */
}

.personaje__imagen {
/* Complete el CSS aqui */
}